.details {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.section {
  padding-bottom: 24px;

  border-bottom: 1px solid #dadde1;
}

.title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--main);
}

.list {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.item {
  display: flex;
  align-items: center;

  gap: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.icon {
  width: 16px;
  height: 16px;

  color: var(--main);
}
