.button {
  border: 1px solid var(--light-blue);
  border-radius: 12px;
  padding: 12px 51px;
  min-height: 44px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.button:hover {
  transform: translateY(-2px);
  border-color: var(--dark-blue);
}
